body, h1, h2, h3, p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  color: #69696a;
}

header, main, footer {
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #69696a;
  display: block;
}

header > nav a {
  padding: 5px 0;
}

a.cta {
  color: #fff;
  background-color: #000;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
}

p {
  border-left: solid #69696a 3px;
  padding-left: 20px;
  margin: 20px 0;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(247, 193, 162,1);
  opacity: .4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

footer > nav > ul {
  display: flex;
}

footer > nav a {
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;   
    flex-direction: row;
}

}